body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.title {
    padding: 3%;
    margin: 4%;
    background-color: rgb(124, 203, 230);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(63, 147, 175);
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.paragrafo {
    margin: 3% 4%;
    color: #006400;
    font-size: 1.5em;
    text-align: center;
}

.font {
    background-color: rgba(0, 255, 21, 0.1);
}

.foto1 {
    display: block;
    margin: 2% auto;
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

ul.Strumenti {
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 600px;
}

ul.Strumenti li {
    background: #e0f7fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.procedimento {
    font-size: 1.2em;
    margin: 3%;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
}

a img {
    width: 100px;
    transition: transform 0.3s;
}

a img:hover {
    transform: scale(1.1);
}
